<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <title>PodCore</title>
</head>
<body>
    <div class="container">
        <div class="header">
           <p>PodCore</p>
        </div>
        <div class="content">
            <br>
            <p>Podcasting and livestreaming, made easy<a href="https://vignette.wikia.nocookie.net/tak/images/6/66/Tak_2.jpg/revision/latest?cb=20110314213623">.</a></p>
            <br>
        </div>
        <div class="navbar footer">
            <p>Copyright, 2018.</p>
        </div>
    </div>
</body>
</html>