//- layout.pug
html
  head
    title My Site - #{title}
    script(src='jquery.slim.min.js')
    script(src='socket.io.slim.js')
    script(src='AgoraRTCSDK-2.1.0.js')
    script(src='bundle.js')
    block scripts
  body
    block body
    block foot
