//- layout.pug
html
  head
    title My Site - #{title}
    block scripts
      script(src='jquery.slim.min.js')
      script(src='socket.io.slim.js')
      script(src='bundle.js')
  body
    block body
    block foot
