//- layout.pug
html
  head
    title My Site - #{title}
    script(src='/public/scripts/components/AgoraRTCSDK-2.1.0.js')
    script(src='/public/scripts/components/jquery-3.3.1.min.js')
    script(src='/public/scripts/components/socket.io.slim.js')
    script(src='/public/scripts/bundle.js')
    block scripts
  body
    block body
    block foot
