extends layout
block scripts
  link(type="text/css" href='/public/css/main.css', rel='stylesheet')
block body
  .roomsContainer
    .roomProtoType
      img.roomThumbUrl
      .roomInfo
        h2.roomOwner Owner
        p.roomLikeCount 84
        p.roomViewCount 1000
        .roomId(hidden) lol
      .title
        h2.roomName Name
