extends layout.pug

block body
<<<<<<< HEAD
<<<<<<< HEAD
  h2.roomName=room.name
=======
  h2=room.name
>>>>>>> 8492cbf6fb9e131d15bc2c72dbeb9a62a4444dca
=======
  h2.roomName=room.name
>>>>>>> b15054f31f33692e4e9430ba1a99a8154d9d49e9
  p.roomId(hidden)=room.id
  
  .video#video
