body{
  background-color: #edc207;
}

.roomProtoType {
  display : None
}

.roomsContainer {
  margin-left: auto;
  margin-right: auto;
  width : 80%;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.room {
  font-family:serif;
  width : 200px;
  border : 5px solid white;
  border-radius: 10px;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  align-items : center;
  background-color: #f6f7d7;
}

.roomOwner{
  font-size: 17px;
}

.title{
  display : flex;
  align-items: center;
  justify-content: center;
  height : 25px;
}

.roomName{
  font-size : 20px;
}

.roomInfo {
  height : 30px;
  display : flex;
  border-bottom: 1px solid grey;
  width : 200px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.roomThumbUrl {
  width : 200px;
  height : 100px;
}
