body{
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: #edc207;
=======
  background-color: #78c9af;
>>>>>>> 8492cbf6fb9e131d15bc2c72dbeb9a62a4444dca
=======
  background-color: #edc207;
>>>>>>> b15054f31f33692e4e9430ba1a99a8154d9d49e9
}

.roomProtoType {
  display : None
}

.roomsContainer {
  margin-left: auto;
  margin-right: auto;
  width : 80%;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.room {
<<<<<<< HEAD
<<<<<<< HEAD
  font-family:serif;
  width : 200px;
  border : 5px solid white;
  border-radius: 10px;
=======
  width : 200px;
  border : 2px solid black;
>>>>>>> 8492cbf6fb9e131d15bc2c72dbeb9a62a4444dca
=======
  font-family:serif;
  width : 200px;
  border : 5px solid white;
  border-radius: 10px;
>>>>>>> b15054f31f33692e4e9430ba1a99a8154d9d49e9
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  align-items : center;
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: #f6f7d7;
=======
>>>>>>> 8492cbf6fb9e131d15bc2c72dbeb9a62a4444dca
=======
  background-color: #f6f7d7;
>>>>>>> b15054f31f33692e4e9430ba1a99a8154d9d49e9
}

.roomOwner{
  font-size: 17px;
}

.title{
  display : flex;
  align-items: center;
  justify-content: center;
  height : 25px;
}

.roomName{
  font-size : 20px;
}

.roomInfo {
  height : 30px;
  display : flex;
<<<<<<< HEAD
<<<<<<< HEAD
  border-bottom: 1px solid grey;
=======
  border : 2px solid black;
>>>>>>> 8492cbf6fb9e131d15bc2c72dbeb9a62a4444dca
=======
  border-bottom: 1px solid grey;
>>>>>>> b15054f31f33692e4e9430ba1a99a8154d9d49e9
  width : 200px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.roomThumbUrl {
  width : 200px;
  height : 100px;
}
