.roomProtoType {
  display : None
}

.roomsContainer {
  margin-left: auto;
  margin-right: auto;
  width : 80%;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.room {
  width : 200px;
  border : 2px solid black;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  align-items : center;
}

.roomOwner{
  font-size: 17px;
}

.title{
  display : flex;
  align-items: center;
  justify-content: center;
  height : 25px;
}

.roomName{
  font-size : 20px;
}

.roomInfo {
  height : 30px;
  display : flex;
  border : 2px solid black;
  width : 200px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.roomThumbUrl {
  width : 200px;
  height : 100px;
}
